---
http_interactions:
- request:
    method: post
    uri: https://restapi.ultradns.com/v1/authorization/token
    body:
      encoding: UTF-8
      string: grant_type=password&password=SECRET&username=jdamick
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tokenType":"","refreshToken":"0aabfdca86c1440f968d92d3899e9bbc","accessToken":"cba38be1d4f049ffb4a2c1f064ac3a84","expiresIn":""}'
  recorded_at: Mon, 28 Jul 2014 02:15:05 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer xx
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
    body:
      encoding: UTF-8
      string: '{"errorCode":60001,"errorMessage":"invalid_grant:token not found, expired
        or invalid","error":"invalid_grant","error_description":"60001: invalid_grant:token
        not found, expired or invalid"}'
  recorded_at: Mon, 28 Jul 2014 02:15:05 GMT
[...]
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer 8f40d0f768144fa8b47e1656185abf56
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Good"}'
  recorded_at: Mon, 28 Jul 2014 02:15:05 GMT
recorded_with: VCR 2.9.2
