---
http_interactions:
- request:
    method: post
    uri: https://restapi.ultradns.com/v1/authorization/token
    body:
      encoding: UTF-8
      string: grant_type=password&password=SECRET&username=jdamick
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tokenType":"","refreshToken":"5ae78e9c46f448fe80a447a7b75c0ef1","accessToken":"9649b0aa77ed47db9796b2daa7d2d944","expiresIn":""}'
  recorded_at: Mon, 28 Jul 2014 02:11:27 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/zones/nexgen.neustar.biz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer 9649b0aa77ed47db9796b2daa7d2d944
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"nexgen.neustar.biz.","accountName":"jdamick","type":"PRIMARY","dnssecStatus":"UNSIGNED","status":"ACTIVE","owner":"jdamick","resourceRecordCount":1480,"lastModifiedDateTime":"2014-07-15T11:24Z"},"registrarInfo":{"nameServers":{"ok":["pdns1.ultradns.net.","pdns2.ultradns.net.","pdns3.ultradns.org.","pdns4.ultradns.org.","pdns5.ultradns.info.","pdns6.ultradns.co.uk."]}}}'
  recorded_at: Mon, 28 Jul 2014 02:11:27 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/zones/nexgen.neustarr.biz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer 9649b0aa77ed47db9796b2daa7d2d944
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"errorCode":1801,"errorMessage":"Zone does not exist in the system."}]'
  recorded_at: Mon, 28 Jul 2014 02:11:27 GMT
recorded_with: VCR 2.9.2
