---
http_interactions:
- request:
    method: post
    uri: https://restapi.ultradns.com/v1/authorization/token
    body:
      encoding: UTF-8
      string: grant_type=password&password=SECRET&username=jdamick
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tokenType":"","refreshToken":"c7e1db9111084e73a701857530f865d4","accessToken":"6b012bcc854243858b50c60cf3569777","expiresIn":""}'
  recorded_at: Mon, 28 Jul 2014 02:15:04 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/accounts/jdamick/zones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer 6b012bcc854243858b50c60cf3569777
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"queryInfo":{"sort":"NAME","reverse":false,"limit":100},"resultInfo":{"totalCount":6,"offset":0,"returnedCount":6},"zones":[{"properties":{"name":"directorysearch.nexgen.neustar.biz.","accountName":"jdamick","type":"PRIMARY","dnssecStatus":"UNSIGNED","status":"ACTIVE","owner":"dbradley2","resourceRecordCount":7,"lastModifiedDateTime":"2013-12-12T15:59Z"},"registrarInfo":{"nameServers":{"ok":["pdns1.ultradns.net.","pdns2.ultradns.net.","pdns3.ultradns.org.","pdns4.ultradns.org.","pdns5.ultradns.info.","pdns6.ultradns.co.uk."]}}},{"properties":{"name":"nexgen.neustar.biz.","accountName":"jdamick","type":"PRIMARY","dnssecStatus":"UNSIGNED","status":"ACTIVE","owner":"jdamick","resourceRecordCount":1480,"lastModifiedDateTime":"2014-07-15T11:24Z"},"registrarInfo":{"nameServers":{"ok":["pdns1.ultradns.net.","pdns2.ultradns.net.","pdns3.ultradns.org.","pdns4.ultradns.org.","pdns5.ultradns.[...]
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer 6b012bcc854243858b50c60cf3569777
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"resultInfo":{"totalCount":1,"offset":0,"returnedCount":1},"accounts":[{"accountName":"jdamick","accountHolderUserName":"Neustar
        Dev","ownerUserName":"jdamick","numberOfUsers":15,"numberOfGroups":9,"accountType":"ORGANIZATION"}]}'
  recorded_at: Mon, 28 Jul 2014 02:15:04 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer 6b012bcc854243858b50c60cf3569777
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Good"}'
  recorded_at: Mon, 28 Jul 2014 02:15:04 GMT
recorded_with: VCR 2.9.2
