---
http_interactions:
- request:
    method: post
    uri: https://restapi.ultradns.com/v1/authorization/token
    body:
      encoding: UTF-8
      string: grant_type=password&password=SECRET&username=jdamick
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tokenType":"","refreshToken":"6f7a896c904f4bee81186403203d45dd","accessToken":"f153ee568ec14284921188a2b0d00617","expiresIn":""}'
  recorded_at: Mon, 28 Jul 2014 02:13:48 GMT
- request:
    method: post
    uri: https://restapi.ultradns.com/v1/zones
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"ultra-rest-test.ultradnstest","accountName":"jdamick","type":"PRIMARY"},"primaryCreateInfo":{"forceImport":true,"createType":"NEW"}}'
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest.
    body:
      encoding: UTF-8
      string: '{"message":"Successful"}'
  recorded_at: Mon, 28 Jul 2014 02:13:49 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"ultra-rest-test.ultradnstest.","accountName":"jdamick","type":"PRIMARY","dnssecStatus":"UNSIGNED","status":"ACTIVE","owner":"jdamick","resourceRecordCount":7,"lastModifiedDateTime":"2014-07-28T02:13Z"},"registrarInfo":{"nameServers":{"missing":["pdns1.ultradns.net.","pdns2.ultradns.net.","pdns3.ultradns.org.","pdns4.ultradns.org.","pdns5.ultradns.info.","pdns6.ultradns.co.uk."]}}}'
  recorded_at: Mon, 28 Jul 2014 02:13:49 GMT
- request:
    method: post
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest/rrsets/A/something
    body:
      encoding: UTF-8
      string: '{"ttl":60,"rdata":["192.168.1.1"]}'
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      location:
      - https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest/rrsets/A/something
    body:
      encoding: UTF-8
      string: '{"message":"Successful"}'
  recorded_at: Mon, 28 Jul 2014 02:13:49 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest/rrsets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"zoneName":"ultra-rest-test.ultradnstest","rrSets":[{"ownerName":"something.ultra-rest-test.ultradnstest.","rrtype":"A
        (1)","ttl":60,"rdata":["192.168.1.1"]},{"ownerName":"ultra-rest-test.ultradnstest.","rrtype":"NS
        (2)","ttl":86400,"rdata":["pdns6.ultradns.co.uk.","pdns2.ultradns.net.","pdns1.ultradns.net.","pdns4.ultradns.org.","pdns5.ultradns.info.","pdns3.ultradns.org."]},{"ownerName":"ultra-rest-test.ultradnstest.","rrtype":"SOA
        (6)","ttl":86400,"rdata":["pdns1.ultradns.net. jeffrey\\.damick.neustar.biz.
        2014072802 86400 86400 86400 86400"]}],"queryInfo":{"sort":"OWNER","reverse":false,"limit":100},"resultInfo":{"totalCount":3,"offset":0,"returnedCount":3}}'
  recorded_at: Mon, 28 Jul 2014 02:13:49 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest/rrsets/A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"zoneName":"ultra-rest-test.ultradnstest","rrSets":[{"ownerName":"something.ultra-rest-test.ultradnstest.","rrtype":"A
        (1)","ttl":60,"rdata":["192.168.1.1"]}],"queryInfo":{"sort":"OWNER","reverse":false,"limit":100},"resultInfo":{"totalCount":1,"offset":0,"returnedCount":1}}'
  recorded_at: Mon, 28 Jul 2014 02:13:50 GMT
- request:
    method: get
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest/rrsets/A/something.ultra-rest-test.ultradnstest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"zoneName":"ultra-rest-test.ultradnstest","rrSets":[{"ownerName":"something.ultra-rest-test.ultradnstest.","rrtype":"A
        (1)","ttl":60,"rdata":["192.168.1.1"]}],"queryInfo":{"sort":"OWNER","reverse":false,"limit":100},"resultInfo":{"totalCount":1,"offset":0,"returnedCount":1}}'
  recorded_at: Mon, 28 Jul 2014 02:13:50 GMT
[...]
- request:
    method: patch
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest/rrsets/A/something.ultra-rest-test.ultradnstest
    body:
      encoding: UTF-8
      string: '{"profile":{"@context":"http://schemas.ultradns.com/RDPool.jsonschema","description":"Pooled
        Records Test","order":"RANDOM"}}'
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Successful"}'
  recorded_at: Mon, 28 Jul 2014 02:13:51 GMT
[...]
- request:
    method: delete
    uri: https://restapi.ultradns.com/v1/zones/ultra-rest-test.ultradnstest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Bearer f153ee568ec14284921188a2b0d00617
  response:
    status:
      code: 204
      message: No Content
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 28 Jul 2014 02:13:52 GMT
recorded_with: VCR 2.9.2
